<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListAccessibility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12E196612A7D3B1B00006DCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12E196772A7D3B1C00006DCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12E196812A7D3B1C00006DCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
